[package]
name = "filewatcher"
version = "0.1.0"
edition = "2024"

[dependencies]
notify = { version = "8", default-features = false, features = ["macos_fsevent"] }

[dev-dependencies]
tempfile = "3"

[profile.release]
opt-level = "z"
lto = true
codegen-units = 1
strip = true
panic = "abort"
